<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Causas Penales</title>
    <link href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet">

</head>
<header class="w-100 bg-gradient h-25" style="background-color: #1174a8">
    <nav class="navbar navbar-expand-xl navbar-light bg-transparent d-flex justify-content-between">
        <a class="navbar-brand h3">Sistema de Causas Penales</a>
    </nav>
</header>
<body>
<div class="mx-auto w-25 mt-3">
    <form action="#" method="post" th:action="@{/login}">
        <p class="display-4">Iniciar Sesion</p>
        <div class="alert-danger border-danger rounded p-2 border" th:if="${param.error}">
            <p>El email o la contraseña es incorrecta</p>
        </div>
        <div class="alert-success border-success rounded p-2 border" th:if="${param.logout}">
            <p>Has cerrado sesion exitosamente</p>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" type="email">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input class="form-control" id="password" name="password" type="password">
        </div>
        <input name="${_csrf.parameterName}"
               type="hidden"
               value="${_csrf.token}"/>
        <button class="btn btn-primary btn-lg" type="submit">Ingresar</button>
    </form>
</div>

<script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>